extends base.pug

block content 
    form(method="POST")
        input(placeholder="Name", type="text", name="name", required)
        input(placeholder="Email", type="text", name="email", required)
        input(placeholder="Username", type="text", name="username", required)
        input(placeholder="Password", type="password", name="password", required)
        input(placeholder="Location", type="text", name="location", required)
        input(type="submit" value="Join")
        